.row{
    margin-top:55px;
}
td{
	text-align:center;
}
.outer{
	margin-top:10px;
    height:532px;
}
table{
	box-shadow:2px 3px 10px rgb(198, 192, 192),-2px 3px 10px rgb(198, 192, 192);
}
textarea{
	resize:none;
	background-color:white;
	width:100%;
	margin:0px;
	padding:0px;
	color:blue;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	border:none;
	overflow:none;
}